<!DOCTYPE html>
<html lang = "pt-br">
<head>
	<link rel="stylesheet" href="../static/styles/index.css"
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Alagator - Serviço de Registro de Alagamentos</title>
</head>
<body>
	<div class ="upper_body">
		<div class="main_left">
			<img class="img_logo" src="../static/imgs/logo.png" alt="logo">
		</div>
		<div class="main_right">
			<form class="form_main" method="POST">
				<input class="text_input" type="text" name="username" placeholder="Username">
				<input class="text_input" type="text" name="email" placeholder="Email">

				<button class="button_input" type="submit">Login</button>
				<a class="tag_cadastro" href="/registrar">Cadastre-se</a>
			</form>
		</div>
		
	</div>
	<div class="lower_body">
		<ul>
			<li>
				<span class="int_text">Intesidade1/Categoria</span>
				<span class="loc_tex">Localização</span>
			</li>
			<li>
				<span class="int_text">Intesidade2/Categoria</span>
				<span class="loc_tex">Localização</span>
			</li>
			<li>
				<span class="int_text">Intesidade3/Categoria</span>
				<span class="loc_tex">Localização</span>
			</li>
		</ul>
	</div>
</body>
</html>