<!DOCTYPE html>
<html lang = "pt-br">
<head>
	<link rel="stylesheet" href="../static/styles/index.css"
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Alagator - Serviço de Registro de Alagamentos</title>
</head>
<body>
	<div class ="upper_body">
		{% if valido %}
		<div class="main_left_user">
			<img class="img_logo_user" src="../static/imgs/logo.png" alt="logo">
		</div>
		<div class="main_right_user">
			<span class="ola_tag">Olá,{{user.username}}!</span>
			<span class="registro_tag">Total de Registros: {{ user.alagamento_set.count }}</span>
			<a class="registro_alagamento" href="registro_alagamento">Registrar de Alagamento</a>
		</div>
		{% else %}
		<div class="main_left">
			<img class="img_logo" src="../static/imgs/logo.png" alt="logo">
		</div>
		<div class="main_right">
			<form class="form_main" method="POST">
				<!--<input class="text_input" type="text" name="username" placeholder="Username">
				<input class="text_input" type="text" name="email" placeholder="Email">-->
				{% csrf_token %}
        		{{ form.username }}
        		{{ form.email }}
				<button class="button_input" type="submit">Login</button>
				<a class="tag_cadastro" href="/registrar">Cadastre-se</a>
			</form>
		</div>
		{% endif %}
	</div>
	<div class="lower_body">
		<ul>
			{% for ocorrencia in alagamento %}
			<li>
				<span class="int_text">{{ocorrencia.intensidade}}/{{ocorrencia.classificacao}}</span>
				<span class="loc_tex">{{str(ocorrencia.local)}}</span>
			</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>