<!DOCTYPE html>
<html lang = "pt-br">
<head>
	<link rel="stylesheet" href="../static/styles/registroEndereco.css"
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Alagator - Serviço de Registro de Alagamentos</title>
</head>
<body>
	<div class ="body">
		<div class="main_left">
			<h1 class="titulo">Registrar Endereço</h1>
		</div>
		<div class="main_right">
			<form class="form_main" method="POST">
				<input class="text_input" type="text" name="cep" placeholder="CEP">
				<input class="text_input" type="text" name="logradouro" placeholder="Logradouro">
				<input class="text_input" type="text" name="bairro" placeholder="Bairro">
				<input class="text_input" type="text" name="cidade" placeholder="Cidade">
				<input class="text_input" type="text" name="uf" placeholder="UF">

				<button class="button_input" type="submit">Registrar</button>
			</form>
		</div>
		
	</div>
</body>
</html>