<!DOCTYPE html>
<html lang = "pt-br">
<head>
	<link rel="stylesheet" href="../static/styles/registro.css"
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Alagator - Serviço de Registro de Alagamentos</title>
</head>
<body>
	<div class ="body">
		<div class="main_left">
			<h1 class="titulo">Registrar Usuário</h1>
		</div>
		<div class="main_right">
			<form class="form_main" method="POST">
				<input class="text_input" type="text" name="username" placeholder="Username">
				<input class="text_input" type="text" name="nome" placeholder="Nome">
				<input class="text_input" type="text" name="sobrenome" placeholder="Sobrenome">
				<input class="text_input" type="text" name="email" placeholder="Email">

				<button class="button_input" type="submit">Cadastre-se</button>
				<a class="tag_cadastro" href="/registrar">Login</a>
			</form>
		</div>
		
	</div>
</body>
</html>