<!DOCTYPE html>
<html lang = "pt-br">
<head>
	<link rel="stylesheet" href="../static/styles/user.css"
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Alagator - Serviço de Registro de Alagamentos</title>
</head>
<body>
	<div class ="upper_body">
		<div class="main_left">
			<img class="img_logo" src="../static/imgs/logo.png" alt="logo">
		</div>
		<div class="main_right">
			<span class="ola_tag">Olá,UsuárioTeste!</span>
			<span class="registro_tag">Total de Registros: 30000</span>
			<a class="registro_endereco" href="registro_endereco">Registrar Endereço</a>
			<a class="registro_alagamento" href="registro_alagamento">Registrar de Alagamento</a>
		</div>
		
	</div>
	<div class="lower_body">
		<ul>
			<li>
				<span class="int_text">Intesidade1/Categoria</span>
				<span class="loc_tex">Localização</span>
			</li>
			<li>
				<span class="int_text">Intesidade2/Categoria</span>
				<span class="loc_tex">Localização</span>
			</li>
			<li>
				<span class="int_text">Intesidade3/Categoria</span>
				<span class="loc_tex">Localização</span>
			</li>
		</ul>
	</div>
</body>
</html>